/* Links */
a {
  color: rgba(200,200,200,.75);
  text-shadow: 1px 0 0 #000
}

a:focus,
a:hover {
  color: rgba(200,200,200,.75);
  text-shadow: 1px 0 0 #000
  border-bottom-color: rgba(255,255,255,.75);
}

/*
 * Base structure
 */

body, html {
  height: 100%;
}

body {
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  background: url(AlmadenQuicksilver.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

.cover-heading, .lead {
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.50);
  border-bottom: 2px solid transparent;
  text-shadow: 2px 0 0 #000
}

.cover-heading {
  font-weight: bold;
}

.post-link {
  text-align: left;
  color: rgba(220,220,220,.75);
  border-bottom: 2px solid transparent;
  text-shadow: 1px 0 0 #000
}

.post {
  text-align: left;
  color: rgba(255,255,255,.75);
}

.login {
  text-align: left;
  color: rgba(255,255,255,.75);
}

.label {
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.50);
  border-bottom: 2px solid transparent;
  text-shadow: 2px 0 0 #000;
}

.heavy-shadow {
  text-shadow: 1px 0 0 #000;
  font-weight: bold;
  padding-top: 20px;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}

/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(0,0,0,.75);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: color: rgba(0,0,0,.75);
}

@media (min-width: 480px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */
.cover {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Affix and center
 */

@media {
  /* Pull out the header */
  .masthead {
    position: fixed;
    top: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .cover-container {
    width: 700px;
  }
}
